body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar1 {
  position: sticky;
  top: 0px;
}

.nav-link:hover {
  border-bottom: 2px solid blue;
}
.carousel-image {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#calculation {
}
