body {
	font-family: sans-serif;
}
.navbar1 {
	position: sticky;
	top: 0px;
	z-index: 1;
}

.nav-link:hover {
	border-bottom: 2px solid blue;
}
.carousel-image {
	position: relative;
	height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}
.carousel-image-2 {
	position: relative;
	height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}
.importantcards {
	position: relative;
	z-index: -1;
}
ul {
	list-style: none;
}
#icon {
	width: 30px;
}
